{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'trains.png' %}"  alt="trains background image" style="width:100%" >
    <div class="headers">
        <h1> About us</h1>
        <p class="inline">The transit planning tool aims to revitalize public interest and participation in transit, driving increased ridership and creating more efficient networks that meet urban community needs. Learn about the City Transit Ecosystem! Show us routes that you would like in your neighborhood! Currently, we are working in New York, Chicago and Portland. </p>
    </div>

{% endblock %}
