{% extends 'basetemplate_internal.html' %} {% load static %} {% block content %}
<div class="headers">
  <h1>{{ City }} Transit Ecosystem</h1>
  <p class="inline">Overview of Transit in Your City</p>
</div>
<div class="card-container row">
  <div class="col-12 col-md-3 col-lg-3">
    <button class="btn btn-secondary-subtle dropdown-toggle" type="button" id="typeDropdown" data-bs-toggle="dropdown"
      aria-expanded="false">
      Select Transit Type
    </button>
    <ul class="dropdown-menu" aria-labelledby="typeDropdown">
      <li>
        <a class="dropdown-item" href="#" onclick="updateCards('typeDropdown', this)">All</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" onclick="updateCards('typeDropdown', this)">Bus</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" onclick="updateCards('typeDropdown', this)">Train</a>
      </li>
      <!-- Add more months as needed -->
    </ul>
  </div>
</div>
<div class="card-container row mx-3">
  <div class="col-12 col-md-4 col-lg-4" id="totalRidersCard">
    <div class="card">
      <div class="card-content">
        <p class="card-title">Average Daily Riders</p>
        <p class="card-text" id="totalRidersText">{{TotalRiders}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-4" id="totalRoutesCard">
    <div class="card">
      <div class="card-content">
        <p class="card-title">Total Routes</p>
        <p class="card-text" id="totalRoutesText">{{TotalRoutes}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-4" id="pctOfCommutersCard">
    <div class="card">
      <div class="card-content">
        <p class="card-title">Percent of Commuters</p>
        <p class="card-text" id="pctOfCommutersText">{{PercentOfCommuters}}</p>
      </div>
    </div>
  </div>
</div>
<script>
  cityData = {{ citydata | safe }};
  var type = "All";
  document.getElementById("totalRidersText").textContent =
    cityData[type]["TotalRiders"];
  document.getElementById("totalRoutesText").textContent =
    cityData[type]["TotalRoutes"];
  document.getElementById("pctOfCommutersText").textContent =
    cityData[type]["PercentOfCommuters"];
</script>

<div class="headers">
  <h2>Transit Map</h2>
  <p class="inline">Map showing all transit routes in your city</p>
  <div id="map"></div>
</div>

<div class="card container">
  <h2 class="card-content">Top 10 Stations/Stops</h2>
  <div class="card-content row">
    <div class="col-12 col-md-6 col-lg-6">
        <h3>Subway</h3>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <h3>Bus</h3>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <button class="btn btn-secondary-subtle", onclick='drawhorizontalgraph(top_subway_week, "name","avg_ridership", "#toptensubway", "#BF5002")'>
        Weekday
      </button>
      <button class ="btn btn-secondary-subtle", onclick='drawhorizontalgraph(top_subway_wked, "name","avg_ridership", "#toptensubway","#BF5002")'>
        Weekend
      </button>
      <div class="mx-auto", id="toptensubway", 
      style="width: 100%; height: 500; margin-top: 5%"></div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <button class="btn btn-secondary-subtle" onclick='drawhorizontalgraph(top_bus_week, "name","avg_ridership", "#toptenbus", "#6F8695")'>
        Weekday
      </button>
      <button class= "btn btn-secondary-subtle", onclick='drawhorizontalgraph(top_bus_wked, "name","avg_ridership", "#toptenbus", "#6F8695")'>
        Weekend
      </button>
      <div class="mx-auto", id="toptenbus", 
      style="width: 100%; height: 500; margin-top: 5%"></div>
    </div>
  </div>
</div>

<div class="headers">
  <h2>Heat Map</h2>
  <p class="inline">
    Maps of showing variation in transit, environmental, and socio-economic
    variables across census tracts <br />
  </p>
  <div id="heatmap" class="mx-auto" style="width: 90%; height: 600px; margin-top: 5%"></div>
</div>

<div class="headers">
  <h2>Trends Over Time</h2>
  <p class="inline">
    The following show evolution of trends in ridership and other key variables
    over time. This is critical as we continue to understand the impact of the
    pandemic.
  </p>
</div>

<div class="graphs container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <h3>Ridership Over Time</h3>
  </div>
    <div class="col-12 col-md-12 col-lg-12">
      <!-- Bar Graph -->
      <div id="my_dataviz", class="mx-auto",
      style="width: 90%; height: 40rem;"></div>
    </div>
      <!-- Trends graph -->
    </div>
    </div>
  </div>
</div>

<!-- Map Scripts -->
<!-- <script>src="{% static 'map.js' %}"</script> -->
<script type="module">
  import { initializeMap } from "{% static 'map.js' %}";
  var coordinates = {{ coordinates }};
  var stations = {{ stations | safe }};
  var iconUrl = "{% static 'images/map_pin.png' %}";
  var userIconUrl = "{% static 'images/map_pin_W.png' %}";
  var routes = {{ routes | safe}};
  var userDrawn = {{ user_drawn | safe }};
  // "safe" parameter needed to deal with escaped quotation marks in GeoJSON
  initializeMap(coordinates, stations, iconUrl, userIconUrl, routes, userDrawn);
</script>

<!-- Map and graph Imports-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
<script src="{% static 'graphs.js' %}"></script>
<script src="{% static 'heatmap.js' %}"></script>
<script src="{% static 'cards.js' %}"></script>
<script>

  const top_subway_week= {{top_subway_weekday | safe}};
  const top_subway_wked= {{top_subway_weekend | safe}};
  const top_bus_week= {{top_bus_weekday | safe}};
  const top_bus_wked= {{top_bus_weekend | safe}};
  const daily_riderships = {{daily_ridership | safe}};
  const ridership_labels=['bus','subway','total']
  drawhorizontalgraph(top_subway_week, "name","avg_ridership", "#toptensubway", "#BF5002");
  drawhorizontalgraph(top_bus_week, "name","avg_ridership", "#toptenbus", "#6F8695");
  drawTrends(daily_riderships, ridership_labels)

  var heatmap_categories = {{ heatmap_categories | safe }};
  var heatmap_units = {{ heatmap_units | safe }};
  var heatmap_titles = {{ heatmap_titles | safe }};
  var heatmap_titles_reversed = {{ heatmap_titles_reversed | safe }};
  heatmaps("{{geojsonfilepath}}", {{coordinates}}, '{{heatmaplabel}}', heatmap_categories, heatmap_units, heatmap_titles, heatmap_titles_reversed);
</script>
{% endblock %}
