{% extends 'basetemplate_internal.html' %} {% load static %} {% block content %}

<div class="headers">
  <h1>{{ City }} Rider Survey Results<br></h1>
  <p class="inline">
    Feedback collected from people in {{City}} through rider survey. This data
    will be used by transit agencies to prioritize transit projects.
  </p>
</div>
<div class="card-container row mx-3">
  <div class="col-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-content">
        <p class="card-title">Total Number of Responses</p>
        
        <p class="card-text">{{Response}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-content">
        <p class="card-title">Percent of People who ride transit regularly</p>
        <p class="card-text">{{Riders}}%</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-content">
        <p class="card-title">Average Rider Satisfaction</p>
        <p class="card-text">{{ridersatisfaction}}</p>
      </div>
    </div>
  </div>
</div>

<div class="headers">
  <h2>Rider Trips</h2>
  <p class="inline">Map showing all transit routes in your city</p>
  
  <div class="card col-12 col-md-6 col-lg-6">
  <div class="mx-auto", id="tranform",
  style="width: 90%; height: 600; margin-top: 5%"></div></div>
  <div class="card col-12 col-md-6 col-lg-6"><div class="mx-auto", id="timeofday",
style="width: 100%; height: 600; margin-top: 5%"></div></div>
</div>

<div class="headers">
  <h2>Feedback from Transit Riders</h2>
  <p class="inline">Answers from people about trips on public transit.</p>

  <div class="card col-12 col-md-6 col-lg-6">
  <div class="mx-auto", id="dataviz",
style="width: 90%; height: 50rem; margin-top: 5%"></div>
</div></div>
{% block transit_graphs%} {% endblock %}
<div class="headers">
  <h2>Feedback from driver</h2>
  <p class="inline">Answers from people about trips in cars and rideshares.</p>
  <div class="card col-12 col-md-6 col-lg-6">
  <div class="mx-auto", id="my_dataviz", style="width: 100%; height : var(--starting-height, 50rem); margin-top: 5%"></div></div>
</div>
<div class="headers">
  <h2>Spatial Analysis</h2>
  <p class="inline">
    Analysis of spatial data reported through rider survey. /p> 
  </p>
</div>
<script>  
<style>
  .axis text {
    font-size: 12px;
  }
  .axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: #000;
    fill: none;
  }
</style></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
<script src="{% static 'graphs.js' %}"></script>
<script>
  const driver_feedback = {{tranrideimprov_drivers | safe}};
  const tran_feedback = {{tranrideimprov_rider | safe}};
  const transitform= {{ transit_mode_graph | safe }}
  const tod = {{ toptengraph | safe }}
  
  drawhorizontalgraph(driver_feedback,"transit_type","count", "#my_dataviz", "#425469")
  drawhorizontalgraph(tran_feedback,"transit_type","count", "#dataviz", "#566C4B")
  drawgraph(transitform,"transit_type","count", "#tranform", "#6F8695")
  drawgraph(tod,"tod","count", "#timeofday", "#BF5002")

</script> 
{% endblock %}
