{% extends 'basetemplate_internal.html' %} {% load static %} {% block content %}

<div class="headers">
  <h1>{{ City }} Rider Survey Results<br></h1>
  <p class="inline">
    Feedback collected from people in {{City}} through rider survey. This data
    will be used by transit agencies to prioritize transit projects.
  </p>
</div>
<div class="card-container row mx-3">
  <div class="col-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-content">
        <p class="card-title">Total Number of Responses</p>
        <p class="card-text">{{Response}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-content">
        <p class="card-title">Percent of People who ride transit regularly</p>
        <p class="card-text">{{Riders}}%</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-content">
        <p class="card-title">Average Rider Satisfaction</p>
        <p class="card-text">{{ridersatisfaction}}</p>
      </div>
    </div>
  </div>
</div>

<div class="headers">
  <h4>Rider Trips</h4>
  <p class="inline">See user reported trips on the map on the main dashboard.</p>
  <a class="dashboard-link" href="/dashboard/{{ City_NoSpace}}">Dashboard > </a>

<style>
  .dashboard-link {
    color: #14213d; /* Set the color of the link */
    text-decoration: none; /* Remove underline */
  }
</style>

  
  <div class="headers"></div>
  <h4>When do you usually make this trip?</h4>
  <div id="tranform" class="graph-container" style="width: 90%; height: 400px; margin-top: 5%"></div>
  
  <div class="headers"></div>
  <h4>What time of day you usually make this trip?</h4>
  <div id="timeofday" class="graph-container" style="width: 90%; height: 400px; margin-top: 5%"></div>
  </div>
</div>

<div class="headers">
  <h4>How could your public transit route be improved?</h4>
  <div id="dataviz" class="graph-container" style="width: 90%; height: 400px; margin-top: 5%"></div>
    </div>
  </div>
</div>

{% block transit_graphs%} {% endblock %}

<div class="headers">
  <h4>What factor would most motivate you to take public transit more?</h4>
      <div id="my_dataviz" class="graph-container" style="width: 90%; height: 400px; margin-top: 5%"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
<script src="{% static 'graphs.js' %}"></script>
<script>
  const driver_feedback = {{tranrideimprov_drivers | safe}};
  const tran_feedback = {{tranrideimprov_rider | safe}};
  const transitform = {{ transit_mode_graph | safe }};
  const tod = {{ toptengraph | safe }};

  drawhorizontalgraph(driver_feedback, "transit_type", "count", "#my_dataviz", "#425469");
  drawhorizontalgraph(tran_feedback, "transit_type", "count", "#dataviz", "#566C4B");
  drawgraph(transitform, "transit_type", "count", "#tranform", "#6F8695");
  drawgraph(tod, "tod", "count", "#timeofday", "#BF5002");
</script>
{% endblock %}
