{% extends 'basetemplate_internal.html' %} {% load static %} {% block content %}
<img
  src="{% static 'images/thanks_photo.png' %}"
  alt="trains background image"
  style="width: 100%"
/>
<div class="headers" style="text-align: center;">
  <div class="content" style="display: inline-block; text-align: left;">
    <h1>Thank you for your feedback!</h1>
    <style>
      .inline {
        width: 70vw;
        margin: 0 auto; /* This centers the element horizontally */
      }
    </style>
    
    <p class="inline">
      This information will be shared with your city's transit agency and used
      in the planning process. We hope that having more ways for community members to 
      give feedback on planning will help make the public transit better for everyone.
    </p>
    <a class="dashboard-link" href="/responses/{{ City_NoSpace}}">Responses > </a>

    <style>
      .dashboard-link {
        color: #14213d; /* Set the color of the link */
        text-decoration: none; /* Remove underline */
      }
    </style>
  </div>
</div>



{% endblock %}
